.headerContainer {
  padding: 2rem 0;
  text-align: center;
}

.header {
  margin-bottom: 0.3rem;
}

.subheader {
  font-size: 0.8rem;
  font-weight: 600;
}

.widthContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 110rem;
}

.movieCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.movieItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 13rem;
  width: 10rem;
}

.movieTitle {
  display: flex;
  align-items: end;
  text-align: center;
  font-size: 0.8rem;
  min-height: 1.5rem;
}

.movieCard {
  cursor: pointer;
  height: 10rem;
  width: 8rem;
  border-radius: 0.5rem;
  opacity: 10%;
  transition: all 200ms ease-in-out;
}

.movieCard:hover {
  transform: scale(1.08);
  opacity: 50%;
}

.watched {
  opacity: 100%;
}

.watched:hover {
  transform: scale(1.08);
  opacity: 100%;
}