.header {
  text-align: center;
}

.widthContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 110rem;
}

.movieCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.movieItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 13rem;
  width: 10rem;
}

.movieTitle {
  display: flex;
  align-items: end;
  text-align: center;
  font-size: 0.8rem;
  min-height: 1.5rem;
}

.movieCard {
  background-color: #d8d8d8;
  cursor: pointer;
  height: 10rem;
  width: 8rem;
  border-radius: 0.5rem;
}
