@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #d8d8d8;
  background: rgb(36, 89, 83);
  background: linear-gradient(
    90deg,
    rgba(36, 89, 83, 1) 35%,
    rgba(64, 142, 145, 1) 100%
  );
}
